@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-Regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-SemiBold.woff2) format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-Bold.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Cormorant";
    src: url(../fonts/Cormorant-Regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Cormorant";
    src: url(../fonts/Cormorant-Bold.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Cormorant";
    src: url(../fonts/Cormorant-BoldItalic.woff2) format("woff2");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}




:root {
    --white: #fff;
    --grey: #899d9d;
    --background: #1d2f30;
    --background-shade: #0b1919;
    --green-text: #506829;
    --primary-green: #bae249;
    --green-activeclick: #688b05;
    --green-focus: #83a440;
    --green-hover: #91ac46;
    --red: #e24949;

    --font-family: "Open Sans", sans-serif;
    --second-family: "Cormorant", sans-serif;
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}


body {
    margin: 0;
    font-family: var(--font-family);
    background-color: var(--background);
    color: var(--white);
}

img {
    max-width: 100%;
    object-fit: cover;
    height: auto;
}

h2,
h3,
p {
    margin: 0;
}

a {
    color: inherit;
}