@import url(./common.blocks/header.css);
@import url(./common.blocks/hero.css);
@import url(./common.blocks/service.css);
@import url(./common.blocks/artefact.css);
@import url(./common.blocks/help.css);
@import url(./common.blocks/footer.css);